
@{
    ViewData["Title"] = "Add/Edit Tasks";
}

<form method="post">

    <label for="Task">Task:</label><br />
    <input  required />

    <label for="DueDate">Task:</label><br />
    <input  />

    <label for="Quadrant">Quadrant:</label><br />
    <input  required />

    <label for="Category">Category:</label><br />
    <select>
        <option>Home</option>
        <option>School</option>
        <option>Work</option>
        <option>Church</option>
    </select>

    <label for="Completed">Completed:</label><br />
    <input type="checkbox" /> <br />


    <button type="submit">Submit</button>
</form>
